<body>
    <div class="page-container">
        <div class="sidebar">
            <div class="list-items">
                <a routerLink="/main-menu/historial-votaciones" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">bookmark_border</i>
                    Inicio
                </a>
                <a routerLink="/main-menu/votantes" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">bookmark_border</i>
                    Añadir Votantes
                </a>
                <a routerLink="/main-menu/about" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">bookmark_border</i>
                    Acerca de
                </a>
            </div>
        </div>
        <div class="page-content-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>