h3 {
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}
h4 {
    position: relative;
    top: 10px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.nombreVotantes {
    text-align: center;
}
.page-container {
    position: absolute;
    height: 75%;
    width: 80%;
    background:white;
    border-color: black;
    border-radius: 5px;
}
.button {
    position: absolute;
    left: 85%;
    top: 2%;
}
.page-content-container {
    color: black;
    padding: 50px;
}
.item-lista {
    background:rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
.item-lista:hover {
    color: #140E39;
}
.item-lista::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #140E39;
    opacity: 0;
    transform: scaleY(0);
    transition: transform 0.2s, opacity 0.2s;
}
#votacionActiva{
    font-size: 20px;
    position: relative;
    top: 10%;
    width: 60%;
    height: 80%;
    left: 20%;
    background-color: rgb(204, 202, 202);
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 5%;

}
#global {
	height: 300px;
    width: 100%;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
td {
    width: 150px;
    border: 4px solid;
}
hr {
    height: 3px;
    color: black;
  }
.cleanTable {
    border: none;
}